

<div class="jumbotron">
  <h1 class="display-4"><%= user.first_name %> <%= user.last_name %></h1>
  <p class="lead"> <%= user.email %></p>
  <hr class="my-4"> <p> <%= user.phone %></p>
  <hr class="my-4"> <p> <%= user.group %></p>

</div>




<div id="<%= dom_id user %>">
 

</div>
